version: "3.9"

services:
    passwordmanager-mariadb:
        image: mariadb:10.4
        container_name: passwordmanager-mariadb
        restart: always
        volumes:
            - ./../storage/docker/db:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_USER=passwordmanager
            - MYSQL_PASSWORD=passwordmanager
            - MYSQL_DATABASE=passwordmanager
        command:
            - --character-set-server=utf8
            - --collation-server=utf8_unicode_ci
        networks:
            - passwordmanager-network
        healthcheck:
            test: mysqladmin ping -h localhost --password=root
            interval: 15s
            retries: 15

    passwordmanager-app:
        image: passwordmanager-app:latest
        container_name: passwordmanager-app
        restart: always
        depends_on:
            passwordmanager-mariadb:
                condition: service_healthy
        build:
            context: ..
            dockerfile: ./docker/Dockerfile
        volumes:
            - ./../public/storage:/app/public/storage
        ports:
            - "8080:80"
        expose:
            - "8080"
        networks:
            - passwordmanager-network
        tty: true

networks:
  passwordmanager-network:
    driver: bridge
